---
---

// Color Scheme Enhancements
$text-color:       #030303 !default; // Darker text for better contrast
$background-color: #f9f9f9 !default; // Slightly off-white background for depth
$brand-color:      #004791 !default; // KTH Blue
$grey-color:       #6c757d !default; // Adjust grey color for better contrast


// Typography Enhancements
$base-font-family: 'Merriweather', serif !default; // Use a serif font for a more professional look
//$base-font-size:   16px !default; // Slightly increase the base font size for better readability
//$base-font-weight: 400 !default;
//$small-font-size:  $base-font-size * 0.8 !default; // Adjust small font size proportionally
//$base-line-height: 1.6 !default; // Increase line height for better readability

// Spacing and Layout Adjustments
$spacing-unit:     40px !default; // Increase spacing for a more open layout

$content-width:    1200px !default;

@import "minima";

// Additional Styles
h1, h2, h3, h4, h5, h6 {
  // color: $brand-color; // Use brand color for headings
  margin-bottom: $spacing-unit / 2; // Add spacing below headings
}
.site-title {
  margin-top: $spacing-unit / 3; // Add spacing on top
  line-height: $base-line-height * $base-font-size * 1.6;
}
// Hide "Subscribe to RSS" from the main page (does not affect the footer)
p.rss-subscribe {
  display: none;
}
// Hide "hamburger" button on the mobile device
.site-nav {
  display: none;
}
// Make "visited links" brighter
a:visited {
  color: darken($brand-color, 5%);
}
// Make the header border of KTH color
.site-header {
  border-top: 5px solid $brand-color;
  border-bottom: 1px solid $brand-color;
}

